body{
    background-image: linear-gradient(to right bottom, #954040, #2a4cf8);
}


.table{
    width: 100em;
    height: 50em;
    display: none;
}

td{
    width: 200px;
}

th{
    width: 200px;
}

.Welcome{
    color: white;
}

.timer{
    font-size: 90px;
    padding-right: 3em;
    color: white;
}

.T{
    display: none;
}


.playagain{
    display: none;
    color: white;
}